<div class="container">
    <div class="header">
        <h1>{{ PickOf }}</h1>
    </div>
    <div class="content">
        <div class="left">
            <div class="book-image">
                <img [src]="bookImage" alt="Buch Bild">
            </div>
            <div class="rating">
                <div class="stars">
                    <span *ngFor="let star of [].constructor(5); let i = index" 
                          [ngClass]="{'star': true, 'gold': i < averageRating, 'gray': i >= averageRating}">
                          &#9733;
                    </span>
                </div>
                <span class="average">Ø {{ averageRating }} Stars</span>
            </div>
        </div>
        <div class="right">
            <div class="description">
                <h3>{{ bookTitle }}</h3>
                <p>{{ description }}</p>
                <a (click)="openModal()" class="read-more">Read More</a>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ bookTitle }}</h2>
            <h3>Why We Chose This Book:</h3>
            <p>"Throne of Glass" is a fast-paced, action-packed fantasy novel with a fierce protagonist, deadly challenges, and an immersive world. Sarah J. Maas expertly blends intrigue, romance, and magic, making this an unforgettable start to an epic series.</p>

            <h3>About the Author:</h3>
            <p>Sarah J. Maas is a renowned fantasy author known for her ability to create complex characters, intricate plots, and breathtaking world-building. "Throne of Glass" showcases her skill in crafting gripping narratives that keep readers hooked.</p>

            <h3>Book Description:</h3>
            <p>In a land without magic, an assassin is summoned to the castle. She has no love for the vicious king who rules from his throne of glass, but she has not come to kill him. She has come to win her freedom.</p>
            <p>If she defeats twenty-three murderers, thieves, and warriors in a competition, she will be released from prison to serve as the King's Champion.</p>
            <p>Her name is Celaena Sardothien.</p>
            <p>The Crown Prince will provoke her. The Captain of the Guard will protect her. And a princess from a faraway country will befriend her. But something rotten dwells in the castle, and it's there to kill. When her competitors start dying mysteriously, one by one, Celaena's fight for freedom becomes a fight for survival-and a desperate quest to root out the evil before it destroys her world.</p>
            <p>Thrilling and fierce, Throne of Glass is the first book in the #1 bestselling series that has captivated readers worldwide.</p>
            <h3>Reading Order:</h3>
            <p>Book #1 Throne of Glass<br>Book #2 Crown of Midnight<br>Book #3 Heir of Fire<br>Book #4 Queen of Shadows <br> Book #5 Empire of Storms<br>Book #6 Tower of Dawn<br> Book #7 Kingdom of Ash</p>
        </div>
    </div>
</div>