<div class="button-group">
    <div class="button">
        <button 
            #statusButton
            type="button" 
            id="none" 
            [class.active]="selectedStatus === 'none'"
            (click)="setStatus('none')">None</button>

        <button 
            #statusButton
            type="button" 
            id="tbr" 
            [class.active]="selectedStatus === 'tbr'"
            (click)="setStatus('tbr')">TBR</button>
        
        <button 
            #statusButton
            type="button" 
            id="reading" 
            [class.active]="selectedStatus === 'reading'"
            (click)="setStatus('reading')">Reading</button>
        
        <button 
            #statusButton
            type="button" 
            id="read" 
            [class.active]="selectedStatus === 'read'"
            (click)="setStatus('read')">Read</button>
        
        <div class="slider"></div>
    </div>
</div>