<div class="bar-new"></div>
<div class="widget-new">
  <h1>NEWCOMERS</h1>
  <div class="slider-container-new">
    <div class="slider-new">
      <div class="slide-new" *ngFor="let book of books; let i = index">
        <div class="slide-new-clickable" [attr.data-book-id]="book.id" (click)="openPopupNew(book.id)">
          <img [src]="book.image || './examplecover.jpg'" alt="Book Cover {{i+1}}">
        </div>
      </div>
    </div>
    <button class="prev-new" (click)="goToPreviousSlideNew()" *ngIf="currentIndexNew > 0">&#10094;</button>
    <button class="next-new" (click)="goToNextSlideNew()" *ngIf="currentIndexNew < books.length - getVisibleSlidesCountNew()">&#10095;</button>
  </div>
</div>
<div class="bar-new"></div>

<!-- Book popups -->
<div *ngFor="let book of books">
  <div class="popup-new" id="popup-new-{{ book.id }}">
    <div class="modal-header-new">
      <span class="close-new" (click)="closePopupNew(book.id)">&times;</span>
    </div>
    <app-bookoverview 
      [title]="book.title" 
      [coverUrl]="book.image" 
      [author]="book.author" 
      [rating]="book.rating" 
      [bookId]="book.id" 
      [genre]="book.genre" 
      [description]="book.description" 
      [published]="book.publishedYear"
      [state]="book.state || ''"
      [display]="false">
    </app-bookoverview>
  </div>
</div>