.widget2 {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background: lightgray;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}
.widget2 h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: black;
}
.slider-container2 {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}
.slide2 {
    min-width: 10%;
    box-sizing: border-box;
    padding: 5px;
    height: 100%; /* Fixed height for slides */
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide2 img {
    width: 100%; /* Fixed width for book covers */
    height: 100%; /* Fixed height for book covers */
    max-height: 350px;;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.prev2, .next2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.prev2 { left: 5px; }
.next2 { right: 5px; }

.bar2 { height: 5px; }

/* Add this to book-slider-2.component.css */
.slide2-clickable {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.slide2-clickable:hover {
  transform: scale(1.05);
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  padding: 3vh 3vw;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
}

.popup.active {
  display: block;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #a55bb8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: right;
  margin-top: 1rem;
}

button:hover {
  background-color: #7f478d;
}
