/* Add to your global styles.css or app.component.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* This is your main content wrapper */
.content-container {
    flex: 1 0 auto; /* This allows the container to grow but not shrink */
    display: flex;
    flex-direction: column;
}

/* This ensures the footer is pushed to the bottom */
app-footer {
    margin-top: auto;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

@font-face {
    font-family: 'MilknBalls';
    src: url('./assets/fonts/MilknBalls-BlackDemo.ttf') format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    src: url('./assets/fonts/Bookerly.ttf') format('truetype');
}