<div class="container">
  <div class="bookshelf">
    <div class="shelf-container">
      <div class="header"><h1>Your X Books</h1></div>
      <div class="bookrow">
        <a href="https://www.example.com" class="book">
          <div class="category">Longest</div>
          <div class="question-mark">?</div>
        </a>
        <a href="https://www.example.com" class="book">
          <div class="category">Shortest</div>
          <div class="question-mark">?</div>
        </a>
        <a href="https://www.example.com" class="book">
          <div class="category">Favorite</div>
          <div class="question-mark">?</div>
        </a>
        <a href="https://www.example.com" class="book">
          <div class="category">Oldest</div>
          <div class="question-mark">?</div>
        </a>
        <a href="https://www.example.com" class="book">
          <div class="category">Newest</div>
          <div class="question-mark">?</div>
        </a>
      </div>
      <div class="shelf"></div>
    </div>
  </div>
</div>
