app-searchhead {
    display: block;
    margin-bottom: 2vh; 
}

app-searchbody {
    display: block;
    margin-top: -3vh; 
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    background: lightgray;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0.5rem;
    }

    app-booklisthead {
        margin-bottom: 1vh;
    }

    app-booklistbody {
        margin-top: -1.5vh;
    }
}