<div class="container">
  <div class="books">
    <app-bookcard
      *ngFor="let book of books"
      [title]="book.title"
      [coverUrl]="book.coverUrl"
      [link]="book.link"
      [author]="book.author"
      [rating]="book.rating"
      [bookId]="book.id"
      [description]="book.description"
      [genre]="book.genre"
      [published]="book.published"
      [display] = "false"
    ></app-bookcard>
    <div class="no-books-warning" *ngIf="books && books.length === 0">
      <img src="./nosearch.png" alt="No search results" class="no-results-image">
      <p>No such book available. <a href="https://forms.gle/dYg73ELM5ScdAQaU8">Request here!</a></p> <!-- Todo: add link to request form! -->
    </div>
  </div>
</div>
<div class="bottom"></div>
