<div class="container">
    <div class="bookshelf">
        <div class="reading-view">
            TBR
            <a href="https://example.com/reading"> <!-- Link behind the image -->
                <img src="./examplecover.jpg" alt="Book Image" height="80%" />
            </a>
            <a href="#">View More</a>
        </div>
        <div class="shelf-container">
            <div class="bookrow">
                <a href="https://example.com/longest"> <!-- Link behind the first image -->
                    <img src="./examplecover.jpg" alt="Book Image" class="book" />
                </a>
                <a href="https://example.com/shortest"> <!-- Link behind the second image -->
                    <img src="./examplecover.jpg" alt="Book Image" class="book" />
                </a>
                <a href="https://example.com/favorite"> <!-- Link behind the third image -->
                    <img src="./examplecover.jpg" alt="Book Image" class="book" />
                </a>
                <a href="https://example.com/book4"> <!-- Link behind the fourth image -->
                    <img src="./examplecover.jpg" alt="Book Image" class="book" />
                </a>
                <a href="https://example.com/book5"> <!-- Link behind the fifth image -->
                    <img src="./examplecover.jpg" alt="Book Image" class="book" />
                </a>
            </div>
            <div class="shelf"></div>
        </div>
    </div>
</div>
