.container {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    background: lightgray;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    width: 100%; /* Nimmt die gesamte Breite des Containers ein */
    text-align: left; /* Zentriert die Überschrift */
    margin-bottom: 15px; /* Abstand unter der Überschrift */
}

h1 {
    color: #ffffff; /* Lila */
    margin: 0; /* Entfernt den Standardabstand */
}

.content {
    display: flex;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert das Buchbild und die Sterne */
}

.book-image img {
    width: 150px; /* Größe des Buchbildes */
    height: auto;
    border-radius: 4px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Sternebewertung */
    margin-top: 10px; /* Abstand zwischen Buchcover und Sternebewertung */
}

.stars {
    display: flex;
}

.star {
    font-size: 20px;
    color: gray; /* Standardfarbe für Sterne */
}

.gold {
    color: gold; /* Goldfarbe für gefüllte Sterne */
}

.gray {
    color: gray; /* Grau für leere Sterne */
}

.average {
    margin-top: 5px;
}

.right {
    margin-left: 20px; /* Abstand zwischen den beiden Divs */
}

.description {
    margin-bottom: 15px; /* Abstand zwischen Beschreibung und Button */
    line-height: 1,5;

}

.read-more {
    display: inline-block;
    text-align: center;
    padding: 5px 10px; /* Kleinere Polsterung für den Button */
    background-color: #a55bb8; /* Lila */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #7f478d; /* Dunkleres Lila bei Hover */
}
.modal {
    display: flex;
    justify-content: center; /* Zentriert das Modal horizontal */
    align-items: center; /* Zentriert das Modal vertikal */
    position: fixed;
    z-index: 1000; /* Über anderen Inhalten */
    left: 0;
    top: 0;
    width: 100%; /* Vollständige Breite des Bildschirms */
    height: 100%; /* Vollständige Höhe des Bildschirms */
    background-color: rgba(0, 0, 0, 0.5); /* Halbdurchsichtiger Hintergrund */
    overflow: auto; /* Ermöglicht das Scrollen, falls nötig */
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 3px solid #a55bb8;;
    border-radius: 10px;
    width: clamp(15rem, 700px, 50vw);
    max-height: 80%; /* Maximale Höhe des Modals */
    overflow-y: auto; /* Ermöglicht vertikales Scrollen bei Bedarf */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
