body {
    font-family: 'Bookerly';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.shelf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 50vw;
    background-color: #fafafa;
    border-radius: 1.5rem;
    padding: 3vh;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    height: 15%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1900px;
    background-color: lightgray;
    border-radius: 1.5rem;
    padding: 3vh;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin: auto;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3vw;
    max-width: 1200px;
}

p {
    font-size: 10rem;
    margin-top: 0;
    margin-bottom: 0;
}

p:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

a {
    color: #a55bb8;
    text-decoration: none;
}

a:hover {
    color: #7f478d;
}

.reading-view {
    flex: 0 0 18%;
    max-width: 20rem;
    aspect-ratio: 1 / 1;
    background-color: #fafafa;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vh;
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-family: 'Bookerly';
}

.reading-view img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.reading-view img {
    width: 70%;
    height: auto;
    margin: 1vh 0;
}

.book-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1vh;
}

.bookrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

@media (max-width: 768px) {
    .bookrow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2vw;
    }
}

@media (max-width: 500px) {
    .bookrow {
        grid-template-columns: repeat(2, 1fr);
    }
}

.book {
    width: 12vw;
    max-width: 15rem;
    aspect-ratio: 2 / 3;
    background-color: #8b5e3b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.shelf {
    width: 100%;
    height: 3vh;
    background-color: #c49a6c;
    border-radius: 1rem;
}

.book:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {

    .bookshelf {
        flex-direction: column;
        align-items: center;
        
    }

    .reading-view {
        width: 60vw;
        max-width: 20rem;
    }

    .book-container {
        width: 100%;
    }

    .bookrow {
        justify-content: center;
        flex-wrap: wrap;
    }

    .book {
        width: 22vw;
        max-width: 10rem;
    }
    .shelf-container {
        display: none;
    }
}

.book-wrapper {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.book-wrapper:hover {
    transform: translateY(-5px);
}

.book:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1000;
}

.popup.active {
    display: block;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
