html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p {
    font-family: 'Bookerly';
}

h1{
    font-family: 'PerfectlyVintage'; 
    font-weight: 599;
}
h2{
    font-family: 'PerfectlyVintage';
    font-weight: 599; 
}
h3{
    font-family: 'PerfectlyVintage'; 
    font-weight: 599;
}
button{
    font-family: 'Bookerly';
}
.content-container {
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;
}

app-footer {
    margin-top: auto;
    flex-shrink: 0; 
}

@font-face {
    font-family: 'MilknBalls';
    src: url('./assets/fonts/MilknBalls-BlackDemo.ttf') format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    src: url('./assets/fonts/Bookerly.ttf') format('truetype');
}

@font-face {
    font-family: 'KenyanCoffee';
    src: url('./assets/fonts/Kenyan Coffee Rg.otf') format('opentype');
}

@font-face {
    font-family: 'PerfectlyVintage';
    src: url('./assets/fonts/Perfectly Vintages Font by Keithzo.otf') format('opentype');
}

.toast {
    font-family: 'Bookerly';
  }
  
  .toast.show {
    font-family: 'Bookerly';
  }
  
  .toast-content {
    font-family: 'Bookerly';
  }
  
  .toast-icon {
    font-family: 'Bookerly';
  }
  
  .toast-message {
    font-family: 'Bookerly';
  }
  
  .toast-close {
    font-family: 'Bookerly';
  }
  
  .toast-close:hover {
    font-family: 'Bookerly';
  }
  
  .toast-success {
    font-family: 'Bookerly';
  }
  
  .toast-error {
    font-family: 'Bookerly';
  }
  
  .toast-warning {
    font-family: 'Bookerly';
  }
  
  .toast-info {
    font-family: 'Bookerly';
}