<div class="container">
    <div class="bookshelf">
      <div class="reading-view">
        Reading
        <a href="booklist?category=reading">
          <p>{{ books.length }}</p>
        </a>
        <a href="booklist?category=reading">View More</a>
      </div>
      <div class="shelf-container">
        <div class="bookrow">
          <a *ngFor="let book of books" [href]="book.link">
            <img [src]="book.coverUrl" [alt]="book.title" class="book" />
          </a>
        </div>
        <div class="shelf"></div>
      </div>
    </div>
  </div>
  