<div class="bar"></div>
<div class="bar"></div>
<div class="container">
    <div class="bookshelf">
        <div class="reading-view">
            Reading
            <img src="./examplecover.jpg" alt="Book Image" height="80%">
            <a href="#">View More</a>
        </div>
        <div class="shelf">
            <img src="./examplecover.jpg" alt="Book Image" class="book">
            <img src="./examplecover.jpg" alt="Book Image" class="book">
            <img src="./examplecover.jpg" alt="Book Image" class="book">
            <img src="./examplecover.jpg" alt="Book Image" class="book">
            <img src="./examplecover.jpg" alt="Book Image" class="book">
        </div>
    </div>
</div>
<div class="bar"></div>