<div class="bcwidget">
    <div class="inner-box">
        <div class="text-container">
            <h2>Our Pick of the<span class="emphasized"> Month</span></h2>
            <br>
            <div class="quote-container">
                <blockquote>
                    "Sometimes diplomacy is best served at swordpoint."
                </blockquote>
                <cite>— Journal of Captain Lilith Sorrengail</cite>
            </div>
        </div>
        <div class="image-container">
            <img src="/onyxstorm.jpeg" alt="Book Cover" />
        </div>
    </div>
</div>
