<div class="container">
<div class="books">
  <app-bookcard
    *ngFor="let book of books"
    [title]="book.title"
    [coverUrl]="book.coverUrl"
    [link]="book.link"
    [author]="book.author"
    [userRating]="book.rating"
    [bookId]="book.id"
    [genre]="book.genre"
    [description]="book.description"
    [published]="book.published"
    [state]="book.state"
    [rating]="book.avgRating"
  ></app-bookcard>
  <div class="no-books-warning" *ngIf="books && books.length === 0">
    <img src="./nosearch.png" alt="No search results" class="no-results-image">
    <p>No books were found. Expand your collection!</p>
  </div>
</div>

<div class="bottom"></div>