body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1900px;
}

:host {
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.footer {
    background-color: #cfa3d9;
    border-top: 5px solid #a55bb8;
    text-align: center;
    padding: 10px;
    font-family: "Bookerly", serif;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    margin-top: auto;
    box-sizing: border-box;
}