<div class="book-container">
    <img src="./examplecover.jpg" alt="Book Cover" class="book-cover">
    <div class="book-details">
        <div class="book-title">Book Title</div>
        <div class="book-author">by: Book Author</div>
        <div class="rating-container">
            <div class="stars" id="star-rating">
                <span data-value="1">★</span>
                <span data-value="2">★</span>
                <span data-value="3">★</span>
                <span data-value="4">★</span>
                <span data-value="5">★</span>
            </div>
            <div class="average-rating">Average rating: 4.2</div>
            <div class="view-more">View More</div>
        </div>
    </div>
</div>

<div class="popup" id="popup">
    <p>Book description goes here...</p>
    <button class="close-popup">Close</button>
</div>