<div class="book-container">
    <img [src]="coverUrl || './examplecover.jpg'" [alt]="title" class="book-cover" />
  <div class="book-details">
    <div class="book-title">{{ title }}</div>
    <div class="book-author">by: {{ author }}</div>
    <div class="rating-container">
      <div class="stars" id="star-rating">
        <span
          *ngFor="let star of stars; let i = index"
          [attr.data-bookid]="bookId"
          [class.filled]="i < rating"
          (click)="setRating(i + 1)"
          [attr.data-value]="i + 1"
          >★
        </span>
      </div>
      <span class="average-rating">Ø: {{ rating }}</span>
      <button (click)="openPopup()" class="view-more">View More</button>
    </div>
  </div>
</div>

<div class="popup" id="popup-{{ bookId }}">
  <!-- <app-bookoverview [bookId]="bookId"></app-bookoverview> -->
  <app-bookoverview [title]="title" [author]="author" [bookId]="bookId" [coverUrl]="coverUrl" [genre]="genre" ></app-bookoverview>
  <button (click)="closePopup()" class="close-popup-{{bookId}}">Close</button>
</div>
